{{ define "main" }}

{{ if .Site.RegularPages }}

    {{ range .Site.RegularPages }}

    <article>

        <h2>
            <a href="{{ .RelPermalink }}">
                {{ .Title }}
            </a>
        </h2>

        <time datetime="{{ .Date.Format "2006-01-02" }}">
            {{ .Date.Format "02/01/2006" }}
        </time>

        {{ if .Summary }}
            <p>
                {{ .Summary }}
            </p>
        {{ end }}

    </article>

    {{ end }}

{{ else }}

    <article>

        <h1>Olá.</h1>

        <p>
            Ainda não escrevi nada por aqui.
        </p>

    </article>

{{ end }}

{{ end }}
